.my-sleeps-background {
  background-image: url('https://i.ytimg.com/vi/Wl2sDEpjqQI/maxresdefault.jpg');
  background-size: cover;
  width: 100%;
  padding-bottom: 400px;
}

.my-sleeps-background .main-area {
  margin-top: 120px;
  background-color: rgb(235, 235, 235);
  padding-bottom: 30px;
}

.my-sleeps-background .main-title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.my-sleeps-background .sleep {
  border-style: ridge;
  border-color: rgb(111, 191, 216);
  border-width: 3px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.my-sleeps-background .sleep h3 {
  font-family: 'Oswald', sans-serif;
}

.my-sleeps-background .sleep p, .my-sleeps-background .sleep button {
  font-family: 'Slabo 27px', serif;
}

.my-sleeps-background .no-sleep {
  text-align: center;
}

.my-sleeps-background .sleep-date {
  text-align: center;
}

.my-sleeps-background .sleep-section {
  width: 33%;
  text-align: center;
  display: inline-block;
}

.my-sleeps-background .button-section {
  text-align: center;
}

.my-sleeps-background .button {
  margin-left: 20px;
  margin-right: 20px;
  width: 80px;
  padding: 5px;
  border-radius: 2px;
  border-color: rgb(70, 70, 70);
  font-style: bold;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 20px;
}

.my-sleeps-background .button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 560px) {
  .my-sleeps-background .sleep-section {
    position: relative;
    left: 2px;
  }
}

@media only screen and (max-width: 520px) {
  .my-sleeps-background .sleep-section {
    left: 3px;
  }
  .my-sleeps-background h3 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .my-sleeps-background .sleep-section {
    left: 2px;
  }
  .my-sleeps-background .sleep-section p {
    font-size: 11pt;
  }
}

@media only screen and (max-width: 480px) {
  .my-sleeps-background .sleep-section {
    left: 3px;
  }
  .my-sleeps-background .sleep-section p {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 440px) {
  .my-sleeps-background .sleep-section {
    left: 4px;
  }
  .my-sleeps-background .sleep-section p {
    font-size: 9pt;
  }
}

@media only screen and (max-width: 400px) {
  .my-sleeps-background .sleep-section {
    left: 3px;
  }
  .my-sleeps-background .sleep-section p {
    font-size: 8pt;
  }
}