.landing-page-nav {
  width: 100%;
  background: url('https://images.unsplash.com/photo-1498681353033-e5632ec6decd?auto=format&fit=crop&w=1080&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 12px;
}

.landing-page-nav .main-link {
  font-size: 20pt;
}

.landing-page-nav .logo {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  position: relative;
  top: 3px;
  right: 10px;
  margin-right: 10px;
}

.landing-page-nav .login-signup-links {
  float: right;
}

.landing-page-nav .link, .landing-page-nav .main-link {
  text-decoration: none;
  color: white;
  padding-right: 15px;
  font-family: 'Acme', sans-serif;
}

.landing-page-nav .link {
  font-size: 17pt;
  position: relative;
  top: 5px;
}

.landing-page-nav .link:hover {
  color: purple;
}

.landing-page-nav a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  .landing-page-nav .link {
    padding-right: 7px;
    font-size: 13pt;
  }
  .landing-page-nav #demo-link {
    padding-right: 0px;
  }
  .landing-page-nav .main-link {
    font-size: 17pt;
    position: relative;
    bottom: 2px;
  }
}