.login-nav {
  width: 100%;
  background-color: turquoise;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000;
}

.login-nav .login-links {
  display: inline-block;
  padding: 12px;
}

.login-nav .link {
  text-decoration: none;
  color: white;
  padding-right: 15px;
  font-size: 17pt;
  font-family: 'Acme', sans-serif;
}

.login-nav .link:hover {
  color: purple;
}