.login-background {
  background-image: url('https://i.ytimg.com/vi/Wl2sDEpjqQI/maxresdefault.jpg');
  background-size: cover;
  width: 100%;
  padding-bottom: 1000px;
}

.login-background .login-form-section {
  padding-top: 150px;
  text-align: center;
}

.login-background .login-form {
  background-color: white;
  border-radius: 2px;
  width: 30%;
  left: 35%;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-background .login-form h2 {
  font-family: 'Oswald', sans-serif;
}

.login-background .login-form label, .login-background .login-form button {
  font-family: 'Slabo 27px', serif;
}

.login-background .login-form input#password, .login-background .login-form input#username {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30px;
  width: 50%;
}

.login-background .login-button {
  border-color: transparent;
  padding: 10px;
  font-style: bold;
  font-size: 10pt;
  width: 50%;
  color: white;
  background-color: turquoise;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1000px) {
  .login-background .login-form {
    width: 50%;
    left: 25%;
    position: absolute;
  }
}

@media only screen and (max-width: 550px) {
  .login-background .login-form {
    width: 80%;
    left: 10%;
    position: absolute;
  }
}