.sleeps-bar-chart {
  margin: 0 auto;
}

.sleeps-bar-chart h2 {
  text-align: center;
  position: relative;
  left: 4%;
}

.sleeps-bar-chart g.tick.zero line {
  display: none;
}

.sleeps-bar-chart g.tick.zero text {
  display: none;
}

@media only screen and (max-width: 640px) {
  .sleeps-bar-chart h2 {
    left: 0;
  }
}