#average-hours-div {
  text-align: center;
}

#average-hours-div p{
  font-size: 50pt;
  background-color: #80b3ff;
  border: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 160px;
  width: 70%;
  position: relative;
  left: 15%;
  border-radius: 50%;
  border-color: transparent;
  text-align: center;
  color: white;
  margin-top: 70px;
}

span {
  position: relative;
  top: 15%;
}

@media only screen and (max-width: 900px) {
  #average-hours-div p {
    height: 140px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 800px) {
  #average-hours-div p {
    height: 120px;
    font-size: 40pt;
  }
}

@media only screen and (max-width: 640px) {
  #average-hours-div p {
    height: 120px;
    font-size: 40pt;
    width: 50%;
    left: 25%;
    margin-top: 30px;
  }
}