.boolean-chart {
  margin: 0 auto;
}

.boolean-chart h2 {
  text-align: center;
  position: relative;
  left: 3%;
}

.boolean-chart h4 {
  text-align: center;
  position: relative;
  left: 3%;
}

.boolean-chart g.tick.zero line {
  display: none;
}

.boolean-chart g.tick.zero text {
  display: none;
}

@media only screen and (max-width: 770px) {
  .boolean-chart h4 {
    left: 2%;
  }
}

@media only screen and (max-width: 640px) {
  .boolean-chart h2, .boolean-chart h4  {
    left: 0;
  }
}