.edit-form-background {
  background-image: url('https://i.ytimg.com/vi/Wl2sDEpjqQI/maxresdefault.jpg');
  background-size: cover;
  width: 100%;
  padding-bottom: 400px;
}

.edit-form-background .main-area {
  margin-top: 120px;
  background-color: rgb(235, 235, 235);
  padding-bottom: 40px;
}

.edit-form-background .editing-form-section {
  text-align: center;
}

.edit-form-background .editing-form-section h1 {
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}

.edit-form-background .editing-form {
  font-size: 14pt;
}

.edit-form-background .editing-form label {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14pt;
  font-family: 'Slabo 27px', serif;
}

.edit-form-background .date-div {
  display: inline-block;
}

.edit-form-background .date-field {
  margin: 5px;
  margin-right: 25px;
  display: inline-block;
  position: relative;
}

.edit-form-background .date-field select {
  background-color: turquoise;
  color: white;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  font-family: 'Slabo 27px', serif;
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.edit-form-background .date-field::before,
.edit-form-background .date-field::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.edit-form-background .date-field::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.edit-form-background .date-field::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.edit-form-background .date-field select[disabled] {
  color: rgba(0,0,0,.3);
}

.edit-form-background .date-field select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.edit-form-background .date-field::before {
  background-color: rgba(0,0,0,.15);
}

.edit-form-background .date-field::after {
  color: rgba(0,0,0,.4);
}

.edit-form-background #sleep-times {
  font-family: 'Slabo 27px', serif;
}

.edit-form-background .time-field {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

.edit-form-background .time-field label {
  font-size: 14pt;
}

.edit-form-background .time-field input {
  background-color: turquoise;
  border-style: none;
  color: white;
  padding: 5px;
  margin-top: 10px;
  font-size: 14pt;
  font-family: 'Slabo 27px', serif;
}

.edit-form-background #sleep-alarm, .edit-form-background #sleep-exercise, .edit-form-background #sleep-blue-light {
  font-family: 'Slabo 27px', serif;
}

.edit-form-background #sleep-alarm p, .edit-form-background #sleep-exercise p, .edit-form-background #sleep-blue-light p {
  margin-top: 25px;
  margin-bottom: 7px;
}

.edit-form-background input[type="radio"] {
  position: relative;
  right: 35px;
  top: 25px;
  z-index: 2;
}

.edit-form-background input[id*="0"] + label {
  position: relative;
  right: 62px;
  top: 5px;
  z-index: 1;
}
/*because the "No" label needed less moving than the "Yes" to be centered in the box*/
.edit-form-background input[id*="1"] + label {
  position: relative;
  right: 60px;
  top: 5px;
  z-index: 1;
}

.edit-form-background input[type="radio"]:checked + label span{
  background-color: turquoise;
  z-index: -1000;
}

.edit-form-background input[type="radio"]:checked + label {
  color: white;
}

.edit-form-background .caffeine-field {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-bottom: 20px;
}

.edit-form-background #sleep-caffeine label {
  display: block;
  margin-top: 20px;
}

.edit-form-background .caffeine-field select {
  background-color: turquoise;
  color: white;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  font-family: 'Slabo 27px', serif;
  -webkit-appearance: button; /*hide default arrow in chrome OSX*/
}

.edit-form-background .caffeine-field::before,
.edit-form-background .caffeine-field::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.edit-form-background .caffeine-field::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.edit-form-background .caffeine-field::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.edit-form-background .caffeine-field select[disabled] {
  color: rgba(0,0,0,.3);
}

.edit-form-background .caffeine-field select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.edit-form-background .caffeine-field::before {
  background-color: rgba(0,0,0,.15);
}

.edit-form-background .caffeine-field::after {
  color: rgba(0,0,0,.4);
}

.edit-form-background .moodAtWake-field {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-bottom: 20px;
}

.edit-form-background #sleep-mood-wake label {
  display: block;
}

.edit-form-background .moodAtWake-field select {
  background-color: turquoise;
  color: white;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  font-family: 'Slabo 27px', serif;
  -webkit-appearance: button; /*hide default arrow in chrome OSX*/
}

.edit-form-background .moodAtWake-field::before,
.edit-form-background .moodAtWake-field::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.edit-form-background .moodAtWake-field::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.edit-form-background .moodAtWake-field::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.edit-form-background .moodAtWake-field select[disabled] {
  color: rgba(0,0,0,.3);
}

.edit-form-background .moodAtWake-field select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.edit-form-background .moodAtWake-field::before {
  background-color: rgba(0,0,0,.15);
}

.edit-form-background .moodAtWake-field::after {
  color: rgba(0,0,0,.4);
}

.edit-form-background .moodAtSleep-field {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  margin-bottom: 20px;
}

.edit-form-background #sleep-mood-sleep label {
  display: block;
}

.edit-form-background .moodAtSleep-field select {
  background-color: turquoise;
  color: white;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  font-family: 'Slabo 27px', serif;
  -webkit-appearance: button; /*hide default arrow in chrome OSX*/
}

.edit-form-background .moodAtSleep-field::before,
.edit-form-background .moodAtSleep-field::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.edit-form-background .moodAtSleep-field::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.edit-form-background .moodAtSleep-field::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.edit-form-background .moodAtSleep-field select[disabled] {
  color: rgba(0,0,0,.3);
}

.edit-form-background .moodAtSleep-field select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.edit-form-background .moodAtSleep-field::before {
  background-color: rgba(0,0,0,.15);
}

.edit-form-background .moodAtSleep-field::after {
  color: rgba(0,0,0,.4);
}

.edit-form-background .submit-edit-button {
  width: 150px;
  padding: 5px;
  border-radius: 2px;
  border-color: transparent;
  font-style: bold;
  font-size: 10pt;
  margin-top: 10px;
}
  
.edit-form-background .submit-edit-button:hover {
  cursor: pointer;
}

.edit-form-background .stop-edit-button {
  width: 150px;
  padding: 5px;
  border-radius: 2px;
  border-color: transparent;
  font-style: bold;
  font-size: 10pt;
  margin-top: 15px;
}
  
.edit-form-background .stop-edit-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 612px) {
  .edit-form-background .date-div {
    display: block;
  }
}