/* because of react's transitive properties with css, this is the only place
that I will writing the base responsive design code */
* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-8, .col-9, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-8, .col-9, .col-12 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-8 {
    width: 66.666666%;
  }
  .col-9 {
    width: 75%;
  }
  .col-12 {
    width: 100%;
  }
}

#landing-page-info .title-area {
  background: url('https://images.unsplash.com/photo-1498681353033-e5632ec6decd?auto=format&fit=crop&w=1080&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 200px;
}

#landing-page-info .title-section {
  text-align: center;
  color: white;
}

#landing-page-info .title-section h1 {
  font-family: 'Acme', sans-serif;
  font-size: 70pt;
}

#landing-page-info .title-section h2 {
  padding-top: 70px;
  font-family: 'Acme', 'sans-serif';
  font-size: 36pt;
}

#landing-page-info .landing-page-section {
  background-color: rgb(223, 221, 221);
  padding-top: 50px;
  padding-bottom: 50px;
}

#landing-page-info .first-section, #landing-page-info .second-section, #landing-page-info .third-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

#landing-page-info .first-image img {
  width: 70%;
  padding-top: 30px;
}

#landing-page-info .first-image, #landing-page-info .second-image, #landing-page-info .third-image {
  text-align: center;
}

#landing-page-info .form-screenshot {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

#landing-page-info .stats-screenshot {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#landing-page-info .text-area {
  text-align: center;
  line-height: 30pt;
}

#landing-page-info .text-area h2 {
  font-size: 24pt;
  font-family: 'Oswald', sans-serif;
}

#landing-page-info .text-area p {
  font-size: 16pt;
  font-family: 'Slabo 27px', serif;
}

#landing-page-info .second-text-area {
  padding-top: 20px;
}

#landing-page-info .third-text-area {
  padding-top: 30px;
}

@media only screen and (max-width: 1000px) {
  #landing-page-info .second-text-area {
    padding-top: 0;
  }
}

@media only screen and (max-width: 900px) {
  #landing-page-info .second-image {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 810px) {
  #landing-page-info .text-area h2 {
    font-size: 20pt;
  }
  
  #landing-page-info .text-area p {
    font-size: 14pt;
  }
}

@media only screen and (max-width: 720px) {
  #landing-page-info .first-image, #landing-page-info .third-image {
    padding-top: 50px;
  }
  #landing-page-info .second-image {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 640px) {
  #landing-page-info .first-image, #landing-page-info .second-image, #landing-page-info .third-image {
    padding-top: 0;
  }
  #landing-page-info .first-image img {
    padding-top: 0;
    padding-bottom: 40px;
  }
  #landing-page-info .second-text-area, #landing-page-info .third-text-area, #landing-page-info .third-section {
    padding-top: 0;
  }
  #landing-page-info .second-section {
    padding-top: 0;
    padding-bottom: 0;
  }
  #landing-page-info .landing-page-section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}