.percentage-bar {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

#positive-percentage-bar {
  background-color: rgb(75, 199, 75);
  display: inline-block;
  height: 30px;
}

#negative-percentage-bar {
  background-color: rgb(255, 46, 46);
  display: inline-block;
  height: 30px;
}