.signup-background {
  background-image: url('https://i.ytimg.com/vi/Wl2sDEpjqQI/maxresdefault.jpg');
  background-size: cover;
  width: 100%;
  padding-bottom: 1000px;
}

.signup-background .signup-form-section {
  padding-top: 150px;
  text-align: center;
}

.signup-background .signup-form {
  background-color: white;
  border-radius: 2px;
  width: 30%;
  left: 35%;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
}

.signup-background .signup-form h2 {
  font-family: 'Oswald', sans-serif;
}

.signup-background .signup-form label, .signup-background .signup-form button {
  font-family: 'Slabo 27px', serif;
}

.signup-background .signup-form input#firstName, .signup-background .signup-form input#lastName,
.signup-background .signup-form input#username, .signup-background .signup-form input#password,
.signup-background .signup-form input#passwordConfirm {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 30px;
  width: 50%;
}

.signup-background .signup-button {
  border-color: transparent;
  padding: 10px;
  font-style: bold;
  font-size: 10pt;
  width: 50%;
  color: white;
  background-color: rgb(10, 115, 141);
  margin-bottom: 25px;
}

@media only screen and (max-width: 1000px) {
  .signup-background .signup-form {
    width: 50% !important;
    left: 25% !important;
    position: absolute !important;
  }
}

@media only screen and (max-width: 550px) {
  .signup-background .signup-form {
    width: 80% !important;
    left: 10% !important;
    position: absolute !important;
  }
}